<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>Welcome to the Dashboard</h1>
    <div>
        <p><strong>User ID:</strong> {{ .UserID }}</p>
        <p><strong>Username:</strong> {{ .Username }}</p>
        <ul>
            <!-- List of passwords here -->
            {{ range .Passwords }}
                <li>
                    <p><strong>Website:</strong> {{ .Website }}</p>
                    <p><strong>Username:</strong> {{ .Username }}</p>
                    <p><strong>Password:</strong> {{ .Password }}</p>
                </li>
            {{ end }}
        </ul>
        <li><a href="/dashboard/new">Add New Password</a></li>
    </div>
</body>
</html>
