<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Password</title>
    <script>
        window.onload = function() {
            var form = document.getElementById("passwordForm");
            var saveButton = document.getElementById("saveButton");
            saveButton.onclick = function() {
                form.submit();
            }
        }
    </script>
</head>
<body>
    <h1>New Password</h1>
    <p><strong>User ID:</strong> {{ .UserID }}</p>
    <p><strong>Username:</strong> {{ .Username }}</p>
    <form id="passwordForm" action="/dashboard/new" method="post">
        <!-- Include a hidden input field for user ID -->
        <input type="hidden" id="userId" name="userId" value="{{ .UserID }}">
        <label for="website">Website:</label><br>
        <input type="text" id="website" name="website" required><br><br>
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br><br>
        <input id="saveButton" type="button" value="Save Password">
    </form>
</body>
</html>